
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  max-height: 2rem !important;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(2px + 2vmin);
  color: white;
  padding: 1rem;
}

.body {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 4rem);
  justify-content: space-between;
}

.mob {
  margin: 0 0 1rem 0;
  display: flex;
  justify-content: space-around;
  padding-bottom: 1rem;
  background-color: rosybrown;
  flex: 0;
}

.mob > :nth-child(1) {
  flex-grow: 1
}

.mob > :nth-child(2) {
  flex-grow: 2
}

.battleLog {
  flex: 2;
}

.player {
  margin: 1rem 0 0 0;
  display: flex;
  justify-content: space-around;
  padding-bottom: 1rem;
  background-color: aliceblue;
  flex: 0;
}

.player > :nth-child(1) {
  flex-grow: 1
}

.player > :nth-child(2) {
  flex-grow: 2
}

