
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  max-height: 2rem !important;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(2px + 2vmin);
  color: white;
  padding: 1rem;
}

.body div {
  background-color: aliceblue;
}

.body {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 2rem);
}

.mob {
  margin: 1rem;
}

.player {
  margin: 1rem;
  display: flex;
  justify-content: space-around;
}

.player > :nth-child(1) {
  flex-grow: 1
}

.player > :nth-child(2) {
  flex-grow: 2
}

